@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #232730;
  color: white;
}


.custom-shape-divider-top-1723651244 {
  position: flex;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1723651244 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 123px;
}

.custom-shape-divider-top-1723651244 .shape-fill {
  fill: #3B4252;
}

.gradient-transp-fog {
  animation: fadeOut 2s forwards;
}

.mask-thingy {
  -webkit-mask-image: url("../../public/blackscreen.png"), url(../../public/circle.png);
  -webkit-mask-composite: xor, destination-out;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}