@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background: white;
  color: black;
}

.navbar-font {
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: black 2px 2.5px;
}

/* Curves */

.custom-shape-divider-bottom-1723669082 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1723669082 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 242px;
}

.custom-shape-divider-bottom-1723669082 .shape-fill {
  fill: #B5BDC0;
}

.custom-shape-divider-top-1723669279 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1723669279 svg {
  position: relative;
  display: block;
  width: calc(192% + 1.3px);
  height: 500px;
}

.custom-shape-divider-top-1723669279 .shape-fill {
  fill: #B5BDC0;
}